:root {
    --main-color-dark: #003C43;
    --main-color-normal: #135d66;
    --main-color-light: #77b0aa;
    --main-color-vlight: #e3fef7;
    --main-color-alpha: #00000088;

    --border-radius-s: 8px;
    --border-radius-m: 12px;
    --border-radius-l: 16px;
    --border-radius-f: 2rem;

    --font-poppins: 'Poppins';
    --font-inter: 'Inter';
    --font-roboto: 'Roboto';
    --font-open-sans: 'Open Sans';
}
.upper{
    background-color:  #135d66;
    color :#fff;
    margin: 12;
    padding: 12px;
    display: flex;
    justify-content: space-between;   
    margin-bottom: 20px;
}
.centr{
    text-align: center;
    color: #fff;
}
.centr a {
    margin-right: 50px; 
    color:#fff;
    text-decoration: none;
    font-family: var(--font-inter);
}
.left {
    text-align: left;
    font-weight: bolder;
    text-transform: uppercase;
    font-size: larger;
    font-family: var(--font-poppins);
}
.right{
    text-align: right;
}
.right a{
    font-family: var(--font-inter);
    color:#fff;
    text-decoration: none;
}
.atlenic{
    margin-left: 10px;

    font-style: italic;
}
.container{
    margin-left: 10px;
    font-family: var(--font-inter);
}
.classbutton{
   margin-left: 700px; 
   margin-top:10px;
   display:flex;
   justify-content: space-evenly;
   font-family:var(--font-inter) ;
}
.view {
    background-color: #77b0aa;
    border-radius:20px;
    text-decoration: none;
    color:#fff;
    padding: 15px 20px;
}
.edit{
    background-color: #77b0aa;
    border-radius:20px;
    text-decoration: none;
    color:#fff;
    padding: 15px 20px;
}
.del{
    background-color: #77b0aa;
    border-radius:20px;
    text-decoration: none;
    color:#fff;
    padding: 15px 20px;
}
a:hover{
    font-size: larger;
    background-color: #003C43;
    }
    h3{
        margin-left: 10px;
        display: block;
        font-family: var(--font-inter);
    }
    p{
        width: 250px; /* You can adjust the width as needed */
        word-wrap: break-word;
    }