/* Resetting default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
  }
  
  .container {
    background-color: #135d66;
    padding: 10px 20px;
  }

  .username {
    margin-right: 10px;
    color: #ffffff; /* لون كلمة NAME */
  }
  
  .logout-btn {
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    background-color: transparent;
    color: #ffffff; /* لون كلمة LOGOUT */
    cursor: pointer;
  }

  .logout-btn:hover{
    background-color: #002633; /* تغيير لون الخلفية عند التحويم */
    color: #77b0aa; /* تغيير لون النص عند التحويم */
    font-size: 18px; /* زيادة حجم الخط عند التحويم */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* إضافة ظل عند التحويم */
  }
  
  .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .background {
    background-color: white;
    padding: 10px 20px;
    position: relative;
  }
  
  .logo {
    font-size: 30px;
    font-weight: bold;
    color: white;
  }
  
  .subtext {
    font-size: 30px;
    color: #003C43;
    position: relative; /* تعيين العنصر على أساس الموقع النسبي */
    top: 80px; /* تحديد المسافة العمودية من الجزء العلوي للمربع */
    left: 130px; /* تحديد المسافة الأفقية من الجزء الأيسر للمربع */
  }
  
  .btn {
    padding: 15px 50px;
    border: none;
    border-radius: 5px;
    background-color: transparent;
    color: white;
    cursor: pointer;
  }

  .btn:hover {
    background-color: #002633; /* تغيير لون الخلفية عند التحويم */
    color: #77b0aa; /* تغيير لون النص عند التحويم */
    font-size: 18px; /* زيادة حجم الخط عند التحويم */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* إضافة ظل عند التحويم */
  }
  
  .separator {
    margin: 0 10px;
    color: white;
  }
  
  .filter-box {
    background-color: #003C43;
    padding: 30px;
    text-align: center;
    border-radius: 30px;
    position: relative;
    bottom: -120px;
    left: 20px; /* تعيين المسافة من الجانب الأيسر للشاشة */
    max-width: 400px; /* تعيين عرض الشريط بقيمة ثابتة */
  }
  
  .filter-text {
    color: white; /* تحديد لون النص */
    display: block;
    margin-bottom: 30px; /* إضافة مسافة بين كلمة وشريط */
    font-size: 40px; /* تغيير حجم النص */
  }
  
  
  .filter-input {
    margin-bottom: 30px; /* إضافة مسافة بين الشريط وحقول الإدخال */
  }
  
  .filter-input input {
    width: calc(100% - 6px); /* تقليل عرض حقول الإدخال للتعويض عن حجم الحواف */
    padding: 20px;
    border: none;
    border-radius: 50px;
    background-color: white; /* لون خلفية حقول الإدخال */
    color: black; /* لون النص داخل حقول الإدخال */
  }
  
  .filter-button {
    margin-top: 30px; /* إضافة مسافة بين حقول الإدخال وزر الفلتر */
  }
  
  .filter-btn {
    padding: 20px 20px;
    border: none;
    border-radius: 50px;
    background-color: #77b0aa; /* لون زر الفلتر */
    color: black; /* لون النص داخل زر الفلتر */
    cursor: pointer;
    min-width: 250px;
  }

  /* إضافة تأثيرات التحويم للزر Filter */
.filter-btn:hover {
  background-color: #003C43; /* تغيير لون الخلفية عند التحويم */
  color: #fff; /* تغيير لون النص عند التحويم */
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); /* إضافة ظل عند التحويم */
}


  .job-details {
    display: flex;
    align-items: center;
    padding: 10px;
    border: 1px solid white;
    border-radius: 15px;
    background-color: #77b0aa;
    margin-top: -150px; /* قم بتعديل المسافة العلوية حسب الحاجة */
    position: relative;
    right: -450px; /* للتحريك إلى اليمين */
    bottom: 36px; /* للتحريك إلى الأسفل */
    max-width: 1050px;
  }
  
  
  .job-id {
    margin-right: 10px; /* تحديد المسافة بين ID و Name */
    color: white;
  }
  
  .job-name {
    margin-right: 20px; /* تحديد المسافة بين Name و Company */
    margin-left: 30px; /* تحديد المسافة بين Name و ID */
    color: white;
  }
  
  .company-name {
    margin-left: 420px; /* تحديد المسافة بين Company و العنصر السابق من اليسار */
    color: white;
    opacity: 0.6; /* جعل النص شبه مخفي */
  }
  
  
  .job-id,.job-name {
    font-weight: bold; /* تحديد وزن الخط للعنصر ID */
  }

  
  
  