.container {
    margin-top: calc(64px + 60px);
    padding-left: 50px;
}

.container h2 {
    font-size: 48px;
    font-family: var(--font-poppins);
    font-weight: 500;
    position: relative;
}

.container h2::before {
    content: '';
    width: 5px;
    height: 100%;
    position: absolute;
    left: -10px;
    top: 0;
    background-color: var(--main-color-dark);
}

.container h4 {
    font-size: 32px;
    font-style: italic;
    font-family: var(--font-inter);
    font-weight: 400;
    line-height: 2;
}