.container {
    margin-top: calc(64px + 60px);
    padding-inline: 50px;
}

.container h2 {
    font-size: 48px;
    font-family: var(--font-poppins);
    font-weight: 500;
    margin-block: 16px; 
    position: relative;
}

.container h2::before {
    content: '';
    width: 5px;
    height: 100%;
    position: absolute;
    left: -10px;
    top: 0;
    background-color: var(--main-color-dark);
}

.container .list {
    margin-block: 16px; 
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 16px;
}

.container .list .job {
    width: 100%;
    border-radius: var(--border-radius-f);
    background-color: var(--main-color-light);
    color: var(--text-color-w);
    font-family: var(--font-inter);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
}

.container .list .job .info {
    display: flex;
    justify-content: flex-start;
    gap: 16px;
}

.container .list .job .info h4 {
    font-weight: 500;
    font-size: 24px;
    height: 100%;
    margin-block: 5px;
}

.container .list .job p {
    font-style: italic;
    height: 100%;
}
