.container {
  margin-top: calc(64px + 30px);
  padding-inline: 50px;
}

.container h2 {
  font-size: 48px;
  font-family: var(--font-poppins);
  font-weight: 500;
  margin-block: 16px; 
  position: relative;
}

.container>p {
  font-size: 32px;
  font-family: var(--font-poppins);
  font-weight: 500;
  margin-block: 16px;
  position: relative; 
}

.container h2::before {
  content: '';
  width: 5px;
  height: 100%;
  position: absolute;
  left: -10px;
  top: 0;
  background-color: var(--main-color-dark);
}

.container form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 50%;
}

.container form input:not([type = 'file']) {
  height: 64px;
  width: calc(100% - 32px);
  display: block;
  background-color: var(--main-color-light);
  color: var(--text-color-w);
  border: 0;
  border-radius: var(--border-radius-f);
  padding-inline: 16px;
  margin-bottom: 32px;
  font-size: 24px;
  font-family: var(--font-open-sans);
  font-style: normal;
}

.container form input:not([type = 'file']):placeholder-shown {
  font-style: italic;
}

.container form input:not([type = 'file']):focus {
  outline: 5px var(--main-color-normal) solid;
}

.container form #apply {
  width: 20%;
  margin: auto;
  color: var(--text-color-w);
  background-color: var(--main-color-light);
  transition: all 250ms ease-in-out;
}

.container form #apply:hover {
  background-color: var(--main-color-vlight);
  color: var(--text-color-b);
}

.container form #apply:focus {
  outline: 0;
}

.container form .resume {
  height: 64px;
  width: calc(100% - 16px);
  display: block;
  background-color: var(--main-color-light);
  color: var(--text-color-w);
  border: 0;
  border-radius: var(--border-radius-f);
  padding-left: 16px;
  margin-bottom: 32px;
  font-size: 24px;
  font-family: var(--font-open-sans);
  font-style: normal;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container form .resume .info {
  display: flex;
  justify-content: center;
  align-items: baseline;
  gap: 4px;
}

.container form .resume .info span {
  font-size: 12px;
}
.container form .resume .file {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container form .resume .file input{
  display: none;
}

.container form .resume .file label{
  background-color: var(--main-color-dark);
  height: 100%;
  border-radius: var(--border-radius-f);
  margin: 0;
  padding: 0;display: flex;
  justify-content: center;
  align-items: center;
  padding-inline: 5px;
  transition: all 250ms ease-in-out;
}

.container form .resume .file input:valid+label{
  background-color: var(--main-color-vlight);
  color: var(--text-color-b);
}