<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List Applicants</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet" />
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/root.css' %}" />
    <link rel="stylesheet" href="{% static 'css/admin/applicants.css' %}">
    <link rel="shortcut icon" href="{% static 'img/icon.svg' %}" type="image/x-icon">
</head>

<body>
    <nav>
        <h2>JOB PORTAL</h2>
        <ul class="quick-links">
            <li><a href="/jobs/add/">Create</a></li>
            <li><a href="/joblist/">Job List</a></li>
            <li><a href="/jobs/applicants">Applicants</a></li>
        </ul>
        <div class="user">
            <a href="/home/" id="username">{{username}}</a>
            <div class="split"></div>
            <a href="/logout/" id='logout'>Log Out</a>
        </div>
    </nav>
    <div class="container">
        <h2>Applicants</h2>
        <div class="inner-container">
            <div class="filter">
                <h3>FILTER APP</h3>
                <form id="filterForm">
                    <input type="text" id="jobid" placeholder="Job ID" name='jobid' value="{{job.id}}"/>
                    <input type="submit" value="Filter" id="filter" />
                </form>
            </div>
            <div class="applicants" id="applicants">
                {%if not applicants %}
                <p>Sorry there are no Applicants meeting the search filter</p>
                {%endif%}
                {% for x in applicants %}
                    <div class="job" id="applicant-{{x.id}}">
                        <div class="job-info">
                            <h3 class="id">{{x.jobid}}</h3>
                            <h3 class="name">{{x.name}}</h3>
                        </div>
                        <div class="app-info">
                            <p class="name">Name</p>
                            <p class="email">Email</p>
                            <p class="resume">Resume</p>
                        </div>
                        <div class="app-value">
                            <p class="name">{{x.fullname}}</p>
                            <p class="email">{{x.email}}</p>
                            <a class="resume" href="{{x.resume.url}}" target="_blank">View Resume</a>
                        </div>
                        <div class="status">
                            <p class="type">Status: {{x.status}}</p>
                            <p class="admin">Reviewed by: {{x.admin}}</p>
                        </div>
                        {%if x.status == 'pending'%}
                            <div class="buttons">
                                <button class="accept">Accept</button>
                                <button class="deny">Deny</button>
                            </div>
                        {%endif%}
                    </div>
                {%endfor%}
            </div>
        </div>
    </div>
</body>
<script src="{% static 'js/admin-applicant.js' %}"></script>
<script src="{% static 'js/ajax-applicants.js' %}"></script>
</html>