<!DOCTYPE html>
<html>

<head>

  <title>Edit Job</title>

</head>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
  href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
  rel="stylesheet">
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/root.css' %}" />
  <link rel="stylesheet" href="{% static 'css/admin/add_edit_job.css' %}">
  <link rel="shortcut icon" href="{% static 'img/icon.svg' %}" type="image/x-icon">

<body>
  <nav>
    <h2>JOB PORTAL</h2>
    <ul class="quick-links">
      <li><a href="/jobs/add/">Create</a></li>
      <li><a href="/joblist/">Job List</a></li>
      <li><a href="applicants.html">Applicants</a></li>
    </ul>
    <div class="user">
      <a href="/home/" id="username">NAME</a>
      <div class="split"></div>
      <a href="/logout/" id='logout'>Log Out</a>
    </div>
  </nav>
  <div class="container">
    <h2>Edit Job</h2>
    <form method="post">
      <div class="form-input">
      <input type="text" name="name" id="name" placeholder="Job Name" required minlength="2" value="{{ job.name }}" />
    </div>
      <span id="id">{{ job.id }}</span>
      <div class="form-input status">
        <label for="status">Job Status :</label>
        <select id="status" name="status" class="select_border">
          <option value="Open">Open</option>
          <option value="Closed">Closed</option>
        </select>
      </div>
      <div class="form-input">
        <label for="xp" class="years_of_experience">Years of Experience:</label>
        <input type="number" id="xp" required name="xp" min="0" placeholder="[YEAR]" value="{{ job.xp }}"/>
      </div>
      <div class="form-input column">
        <label for="description">Description</label>
        <textarea type="text" id="description" name="description" rows="10" cols="50" required minlength="2">{{ job.des }}</textarea>
      </div>
      <div class="form-input">
        <label for="salary">Salary (in USD): </label>
        <input type="number" id="salary" required name="salary" min="0" placeholder="70000" value="{{ job.salary }}"/>
      </div>
      <div class="buttons">
        <button id="update">Save</button>
        <a href="/home/" id="cancel">Cancel</a>
      </div>
    </form>
  </div>
</body>
<!-- <script src="/public/js/accounts.js" type="module"></script>
<script src="/public/js/jobs.js" type="module"></script>
<script src="/public/js/jobhandler.js" type="module"></script> -->
</html>