.container {
    margin-top: calc(64px + 60px);
    padding-inline: 50px;
}

.container h2 {
    font-size: 48px;
    font-family: var(--font-poppins);
    font-weight: 500;
    margin-block: 16px; 
    position: relative;
}

.container h2::before {
    content: '';
    width: 5px;
    height: 100%;
    position: absolute;
    left: -10px;
    top: 0;
    background-color: var(--main-color-dark);
}

.container .inner-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.container .inner-container .filter {
    background-color: var(--main-color-normal);
    width: 20%;
    padding: 16px;
    border-radius: var(--border-radius-l);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: var(--text-color-w);
    height: 50vh;
}

.container .inner-container .filter h3 {
    font-size: 48px;
    font-weight: 500;
    font-family: var(--font-poppins);
    margin-block: 8px;
    width: 100%;
    text-align: center;
}

.container .inner-container .filter input {
    height: 64px;
    width: calc(100% - 32px);
    display: block;
    background-color: var(--main-color-vlight);
    border: 0;
    border-radius: var(--border-radius-f);
    padding-inline: 16px;
    margin-bottom: 32px;
    font-size: 24px;
    font-family: var(--font-open-sans);
    font-style: normal;
}

.container .inner-container .filter input:placeholder-shown {
    font-style: italic;
}

.container .inner-container .filter input:focus {
    outline: 5px var(--main-color-normal) solid;
}

.container .inner-container .filter #filter {
    width: calc(100% - 60px);
    margin: auto;
    color: var(--text-color-w);
    background-color: var(--main-color-light);
    transition: all 250ms ease-in-out;
}

.container .inner-container .filter #filter:hover {
    background-color: var(--main-color-vlight);
    color: var(--text-color-b);
}

.container .inner-container .filter #filter:focus {
    outline: 0;
}

.container .inner-container .applicants {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 32px;
    width: 70%;
}

.container .inner-container .applicants .job {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: var(--text-color-w);
    background-color: var(--main-color-light);
    border-radius: var(--border-radius-l);
    padding: 16px;
    font-family: var(--font-inter);
    gap: 8px;
}

.container .inner-container .applicants .job .job-info {
    display: flex;
    justify-content: flex-start;
    gap: 8px;
    font-weight: 500;
    font-size: 24px;
}

.container .inner-container .applicants .job .app-info,
.container .inner-container .applicants .job .app-value {
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
}

.container .inner-container .applicants .job .app-info p,
.container .inner-container .applicants .job .app-value p,
.container .inner-container .applicants .job .app-value a {
    width: 33%;
    text-align: center;
}

.container .inner-container .applicants .job .app-value a {
    text-decoration: underline;
}

.container .inner-container .applicants .job .status {
    display: flex;
    width: 40%;
    font-style: italic;
    justify-content: space-evenly;
}

.container .inner-container .applicants .job .buttons {
    display: flex;
    gap: 8px;
    justify-content: flex-end;
}

.container .inner-container .applicants .job .buttons button {
    width: 30%;
    background-color: var(--main-color-dark);
    border: 0;
    border-radius: var(--border-radius-f);
    height: 50px;
    font-size: 24px;
    transition: all 250ms ease-in-out;
}

.container .inner-container .applicants .job .buttons button:hover {
    background-color: var(--main-color-vlight);
    color: var(--text-color-b);
}