.container {
  margin-top: calc(64px);
  padding: 30px 50px;
}

.container h2 {
  font-size: 48px;
  font-family: var(--font-poppins);
  font-weight: 500;
  margin-block: 16px;
  position: relative;
}

.container h2::before {
  content: '';
  width: 5px;
  height: 100%;
  position: absolute;
  left: -10px;
  top: 0;
  background-color: var(--main-color-dark);
}

input,
textarea {
  display: block;
  border: 5px solid var(--main-color-light);
  border-radius: var(--border-radius-l);
  padding-inline: 5px;
  font-size: 20px;
  font-family: var(--font-open-sans);
  text-align: center;
}

textarea {
  text-align: start;
}

.container input[id='name'] {
  font-size: 40px;
  font-family: var(--font-poppins);
  font-weight: 500;
  margin-block: 16px;
  position: relative;

}

.container input[id='name']::before {
  content: '';
  width: 5px;
  height: 100%;
  position: absolute;
  left: -10px;
  top: 0;
  background-color: var(--main-color-dark);
}

.container input[id='id'],
.container span {
  display: block;
  font-family: var(--font-open-sans);
  font-style: italic;
  font-size: 24px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 60%;
}

.form-input {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 8px;
}

.column {
  flex-direction: column;
  align-items: flex-start;
}

label {
  font-family: var(--font-poppins);
  font-weight: 500;
}

select {
  border: 5px solid var(--main-color-light);
  border-radius: var(--border-radius-l);
  font-family: var(--font-open-sans);
}

input::placeholder {
  font-style: italic;
}

input:focus, select:focus, textarea:focus{
  outline: 0;
  border-color: var(--main-color-normal);
}

.buttons {
  display: flex;
  gap: 16px;
}

.buttons button, .buttons a {
  background-color: var(--main-color-normal);
  border: 0;
  border-radius: var(--border-radius-f);
  height: 50px;
  font-size: 24px;
  transition: all 250ms ease-in-out;
  font-family: var(--font-inter);
  color: var(--text-color-w);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 30px;
}

.buttons button:hover, .buttons a:hover {
  background-color: var(--main-color-vlight);
  color: var(--text-color-b);
}